<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone OR ContentManagement">
    <pipelines>
      <publishItem>
        <processor type="Sitecore.Support.Publishing.Pipelines.PublishItem.UpdateBlobs, Sitecore.Support.298205"
                   patch:after="processor[@type='Sitecore.Publishing.Pipelines.PublishItem.PerformAction, Sitecore.Kernel']" />
      </publishItem>
    </pipelines>
  </sitecore>
</configuration>